@import "../../variables.scss";

.homepage-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .name {
        font-size: 5em;
        color: $primary;
    }
    img {
        width: 25%;
    }

    p {
        font-size: 3em;
        color: $white;
    }

    a {
        font-size: 2em;
        color: $primary;
        font-weight: 700;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.3);
            text-decoration: underline;;
        }
    }

}
