@import '../../../variables.scss';

.main-button-outlined{
    background-color: transparent;
    border-radius: 3px;
    color: $primary;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border: 2px solid $primary;
}