@import '../../../variables.scss';

.login-ui-container{
    background: $third;
    .left-container{

    }
    .right-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            &:first-child{
                height: 60vh;
            }
            &:last-child{
                height: 20vh;
            }
        }
    }
}