@import '../../../variables.scss';

.third-button{
    background-color: $black;
    border-radius: 3px;
    color: $white;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border: 2px solid $primary;
    cursor: pointer;
}