@import '../../../variables.scss';

.select-component{
    width: 100%;
    min-width: 120px;
    color: $white !important;
    div, span{
        background: $black !important;
        border-radius: 30px !important;
        &:hover, &:focus, &:visited{
            border-color: $white;
            box-shadow: none;
        }
    }
    .anticon{
        color: $white;
    }
}
.ant-select-dropdown{
    background: transparent !important;
    div{
        border-radius: 15px;
        border: 1px solid $white;
        background: transparent !important;
    }
    ul{
        li{
            background: $black !important;
            color: $white;
            border-width: 0.5px 0;
            border-style: solid;
            border-color: $white;
            &:first-child{
                border-width: 0 0 0.5px 0;
            }
            &:last-child{
                border-width: 0.5px 0 0 0;
            }
        }
    }
}