@import "../../../variables.scss";

.card-list-container{
    padding: 5vh 10vw;
    overflow-y: auto;
    max-height: 80vh;
    .ant-col {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .card-item {
            width: 80%;
            .ant-card-body {
                background-color: $main-background;
                padding: 24px 0;
                text-align: center;
            }
            
            .ant-card-meta-detail {
                width: 100%;
            }
            
            .ant-card-meta-title {
                width: 100%;
                color: $primary !important;
                text-align: center;
            }
            
            .ant-card-actions {
                background-color: $main-background;
                li {
                    span {
                        .anticon {
                            color: $white !important;
                        }
                    }
                }
            }
        }
    }
}



.ant-card-meta-description {
    color: $white !important;
    padding: 0 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}