@import "../../../variables.scss";

.products-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;

    .images-title {
        font-size: 2em;
        color: $white;
        font-weight: 700;
        width: 100%;
        text-align: center;
    }
    .profile-container {
        width: 100% !important;
        div {
            .header-container {
                flex-direction: row;
                justify-content: center;
                font-size: 1.5em !important;
            }
            .data-container {
                font-size: 1.3em;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                .data-item {
                    width: 100%;
                    display: flex;
                    .label {
                        width: 30%;
                        color: $primary;
                    }
                    .value {
                        width: 50%;
                        margin-left: 10%;
                        color: $white;
                    }
                }
            }
        }
    }

    .product-images-container {
        width: 100%;
        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            max-height: 50vh;
            overflow-y: auto;
        }
        .no-images-product {
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: $white;
            font-size: 1.5em;
        }
    }

    .main-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .stocks-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 5vh;
        .stocks-title {
            color: $white;
            font-size: 3em;
        }
    }

    .product-stocks-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 20vh;
        background-color: black;
        border-radius: 5px;
        .arrow {
            font-size: 3em;
            color: $white !important;
            margin: 0;
        }
        .card-container {
            margin: 0 20px;
            border-radius: 10px;
            font-size: 1.5em;
            width: 25%;
            background-color: $primary;
            min-height: 15vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: $black;
            .name {
                font-weight: 600;
            }
            p {
                margin: 0;
            }

        }
    }
    
}

.product-image-img {
    max-width: 300px !important;
    margin: 2vh 0;
}