.ant-card-meta-title {
    color: black !important;
    font-size: 1.8em !important;
}

.ant-card-meta-description {
    color: black !important;
    font-size: 1.2em !important;
}
.ant-card-bordered {
    border: solid 1px black !important;
    border-radius: 10px !important;
}
.ant-avatar {
    background-color: black !important;
    font-size: 60px !important;
}