.ant-card-meta {
    display: flex;
    align-items: center;
}
.ant-card-meta-title {
    color: white !important;
    font-size: 1.8em !important;
}

.ant-card-meta-description {
    color: white !important;
    font-size: 1.2em !important;
}
.ant-card-bordered {
    border: solid 1px black !important;
    border-radius: 10px !important;
    margin: 1vh 1vw !important;
}
.ant-card-meta-avatar {
    background-color: black !important;
    color: white !important;
    font-size: 60px !important;
}