@import '../../../variables.scss';

.input-pass-component {
	background: $third;
	position: relative;
	border: none;
	color: $white;
	box-shadow: 0px 5px 5px 0 $black;
	input {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 18px;
		background: $third;
		border: none;
		color: $white;
		transition: ease-in-out 0.15s;
		padding-left: 10px;
		&:focus {
			outline: 2px solid $primary;
			border: none;
			box-shadow: none;
		}
	}
	svg {
		position: absolute;
		height: 90%;
		bottom: 5%;
		right: 2%;
	}
}
