@import '../../../variables.scss';

.calendar-container{
    width: 100%;
    border-radius: 15px;
    .ant-calendar-picker {
        width: 100%;
        div {
            .ant-calendar-picker-input {
                border: 0;
                background: $third;
                color: $white;
                font-size: 18px !important;
            }
        }
    }
}
