@import "../../../variables.scss";

.stock-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .works-title {
        font-size: 2em;
        color: $white;
        font-weight: 700;
        width: 100%;
        text-align: center;
    }

    .profile-container {
        width: 100% !important;
        div {
            .header-container {
                flex-direction: row;
                justify-content: center;
                font-size: 1.5em !important;
            }
            .data-container {
                font-size: 1.3em;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 40vh;
                margin-left: 20%;
                .data-item {

                    width: 100%;
                    display: flex;
                    .label {
                        width: 30%;
                        color: $primary;
                    }
                    .value {
                        width: 50%;
                        margin-left: 10%;
                        color: $white;
                    }
                }
            }
        }
    }

    .stocks-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 5vh;
        .stocks-title {
            color: $white;
            font-size: 3em;
        }
        .total-products-in-stock {
            color: $white;
            font-size: 1.5em;
            margin: 1vh 0;
        }
    }

    .product-stocks-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 40vh;
        background-color: black;
        border-radius: 5px;
        .arrow {
            font-size: 3em;
            color: $white !important;
            margin: 0;
        }
        .card-container {
            margin: 0 20px;
            border-radius: 10px;
            font-size: 1.5em;
            width: 25%;
            // background-color: $primary;
            min-height: 15vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: $primary;
            .name {
                font-weight: 600;
            }
            p {
                margin: 0;
            }
            img {
                height: 20vh;
                padding: 5%;
            }
        }
        .not-products-in-stock {
            color: $primary;
            font-size: 2em;
            margin-bottom: 0;
        }
    }
}