.navbar-container {
    margin: 3vh 0 0 0;
}
.dashboard-container {
    width: 100vw;
    height: 77vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

body {
    background-color: #171717 !important;
    overflow: hidden;

    .dashboard-body {
        margin: 5vh 15vw;

        .dasboard-cards-container {
            display: flex;
            justify-content: space-between;
        }
    }
}

.footer-container {
    width: 100vw;
}