@import "../../../variables.scss";

.navbar {
    width: 100vw;
    display: flex;
    align-items: center;
}
.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3vw;
    width: calc(100%/3);
    float: left;
}
.logo-container {
    padding: 0;
    margin:0;
    width: calc(100%/3);
    float: left;
    display: flex;
    justify-content: center;
    img:hover {
        cursor: pointer;
    }
}
.bell-container {
    padding-right: 7vw;
    width: calc(100%/3);
    display: flex;
    justify-content: flex-end;
}
.anticon-menu, .anticon-arrow-left {
    color: $white !important;
    font-size: 2em;
    margin: 0 2vw;
    display: flex;
    svg:hover {
        cursor: pointer;
    }
}
.anticon-bell {
    color: $white !important;
    font-size: 2em;
    display: flex;
    justify-content: flex-start;

    svg:hover {
        cursor: pointer;
    }
}
.navbar-logo {
    height: 10vh;
    align-self: center;
}
.ant-menu {
    background: $primary-light !important;
}
.cross-container {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.anticon-close {
    margin-right: 10px;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 800;
    background-color: $main-background;
    color: $primary !important;
    svg:hover {
        cursor: pointer;
    }
}
.ant-menu-root {
    height: 100vh;
    position: fixed;
    width: 256px;
}

.root-item:hover {
    border-right: none;
    background-color: #171717 !important;
    color: $primary-light !important;
    a {
        color: $primary-light !important;
    }
}
.root-item, .ant-menu-submenu-title {
    a {
        color: $main-background !important;
    }
    height: 9vh !important;
}
.sub-item {
    color: $main-background !important;
    a {
        color: $main-background !important;
    }
    height: 7.5vh !important;
    &:hover {
        border-right: none;
        background-color: $main-background !important;
        color: $primary-light !important;
        a {
        //     border-right: none;
            // background-color: $main-background !important;
            color: $primary-light !important
        }
    }
}
.ant-menu-item,.ant-menu-submenu-title {
    color: $main-background !important;
    display: flex;
    align-items: center;
    padding-left: 3vw !important;
    margin: 3px 0 !important;
}
.ant-menu-item-selected {
    border-right: none;
    background-color: $main-background !important;
    color: $primary-light !important;
    a {
        color: $primary-light !important;
    }
}

.ant-menu-submenu-arrow {
    &::before {
        background: $main-background !important;
    }
    &::after {
        background: $main-background !important;
    }
}

.menu-container {
    width: 256px;
    position: absolute;
    z-index: 9999;
    transition: 0.4s;
    top: 0;
    ul {
        overflow-y: scroll;
        box-shadow: 5px 5px 10px rgba($black, 1);
    }
}