@import '../../../variables.scss';

.forgot-pass-ui-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-color: $black;
    color: $white;
    .title-text{
        margin-bottom: 5vh;
    }
    .information-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
        .left-container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40vw;
            height: 60vh;
            img{
                //width: 20vw;
                height: 50vh;
            }
        }
        .right-container{
            height: 60vh;
            width: 40vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            white-space: pre-wrap;
            .subtitle-one-text{
                max-width: 40vw;
                &:nth-child(2){
                    text-align: justify;
                }
                &:hover {
					text-decoration: underline;
				}
            }
            .bottom-part{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 30vh;
                width: 80%;
                .subtitle-one-text{
                    width: 100%;
                    &:nth-child(1){
                        text-align: left;
                        text-transform: uppercase;
                    }
                    &:nth-child(3){
                        text-align: right;
                    }
                }
                .input-text-component{
                    width: calc(100% - 20px);
                    height: 50px;
                }
            }
        }
    }
}