.line {
    background-color: #fff;
    width: 100vw;
    height: 1px;
}
.text-container {
    width: 100vw;
    background-color: #171717;
    color: white;
    height: 7vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15vw;
    font-size: 1.2em;
}